body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    box-sizing: border-box;
}
.container {
    
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}

.container h2 {
    margin-bottom: -30px;
    margin-left: 5px;
}

.type {
    width: 100%;
    background-color: aliceblue;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.wrapper {
    cursor: pointer;
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 10000;
}
.product {
    display: flex;
    margin: 0px auto;
    margin-top: 10px;
    width: 90%;
    border: 1px solid rgb(96, 96, 96);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.217);
    background-color: aliceblue;
    box-sizing: border-box;
    z-index: 100;
}

.detail-product {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px 0;
    gap: 5px;
    padding-right: 10px;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}

.detail-product-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px 0;
    gap: 5px;
    padding-right: 10px;
    font-size: 1.1rem;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.detail-product-text textarea {
    border-radius: 100px;
    text-align: center;
}

.images {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background-color: salmon;
}

.image img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.name {
    font-size: 14px;
}
.price {
    font-weight: bold;
}

.buttom {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    flex-grow: 1;
    align-items: flex-end;
}

/* bagian css kategori */
.list-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-shrink: 1;
}
.kategori {
    cursor: pointer;
    width: 150px;
    background-color: #87d6f5;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    font-weight: bold;
}

.kategori.price-kategori {
    background-color: #f6f5fc;
    width: 100%;
    height: 50px;
}
.kategori:hover {
    background-color: #ddd;
}
.konten-div {
    display: none; /* Menyembunyikan div pada awalnya */
}
.konten-div.aktif {
    display: block; /* Menampilkan hanya div yang aktif */
}